Django
django-ninja
django-sesame
django-storages[s3]
django-ses[events]
boto3
stripe
python-dotenv
openai
certifi
python-slugify
httpx>=0.28,<1
mcp>=2.0,<3

gunicorn
fabric
PyJWT[crypto]
dj-database-url==3.0.1
psycopg[binary]==3.2.12
