{% load static %}
{% static 'projects/embed-widget.js' as embed_widget_script_url %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Feature Request helps you collect, prioritize, and manage feedback, feature requests, and bug reports for your projects.">
    <meta property="og:title" content="Feature Request">
    <meta property="og:description" content="Feature Request helps you collect, prioritize, and manage feedback, feature requests, and bug reports for your projects.">
    <title>Feature Request</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'projects/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'projects/app.css' %}">
<script defer src="https://sitehits.io/js/script.js" data-site-key="sh_vLsGeHosB7zxFqHKWnQ6R5q2" data-api-url="https://sitehits.io/api/events"></script>
  </head>
  <body>
    <script>
      window.__FR_BOOTSTRAP__ = {{ fr_bootstrap_json|safe }};
      window.__FR_ADMIN_PATH__ = "{{ admin_url|escapejs }}";
      window.__FR_WIDGET_SCRIPT_URL__ = "{{ embed_widget_script_url|escapejs }}";
    </script>
    <div id="app"></div>
    <script src="{% static 'projects/app.js' %}" defer></script>
    <script
      src="https://featurerequest-assets.s3.amazonaws.com/static/projects/embed-widget.js"
      data-fr-origin="https://featurerequest.io"
      data-fr-owner="onurmatik"
      data-fr-project="feature-request"
      data-fr-position="right"
      data-fr-color="#06B6D4"
      defer
    ></script>
  </body>
</html>
